* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.body {
    background-color: #f7f7fc;
    height: 800px;
}

.logoimg {
    padding-top: 50px;
    padding-left: 50px;
}

.welcome {
    margin-left: 150px;
    margin-top: 200px;
    font-weight: bold;
    font-size: 50px;
}

h3 {
    margin-left: 150px;
    font-size: 25px;
    font-weight: bold;
}

.jobber {
    color: #5d5fef;
}

form {
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid grey;
    width: 35%;
    height: 110%;
    margin-left: 800px;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding: 20px;
}

.inputbox {
    position: relative;
    width: 250px;
}

.inputbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #929292;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    background: #fafafa;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #5d5fef;
    transition: 0.5s;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
    color: #5d5fef;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #fafafa;
    border-left: 1px solid #5d5fef;
    border-right: 1px solid #5d5fef;
    letter-spacing: 0.2em;
}

.inputbox input:valid,
.inputbox input:focus {
    border: 1px solid #5d5fef;
}

#pass {
    position: absolute;
    top: 100px;
    width: 90%;
}

#pass2 {
    position: absolute;
    top: 180px;
    width: 90%;
}

.select {
    position: absolute;
    top: 250px;
    left: 30px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.select2 {
    position: absolute;
    top: 250px;
    left: 250px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
}

select {
    background-color: #fafafa;
    color: #5d5fef;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

.select option,
.select2 option {
    color: #5d5fef;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}

.file {
    position: absolute;
    top: 320px;
}

#file {
    display: none;
}

.label {
    color: #5d5fef;
    height: 60px;
    width: 250px;
    left: -130px;
    background-color: #fafafa;
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

#signupButton {
    position: absolute;
    top: 400px;
    width: 240px;
    height: 60px;
    left: 110px;
    background-color: #5d5fef;
    border-radius: 10px;
    border: 1px solid grey;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.terms {
    position: absolute;
    top: 470px;
}

#terms {
    color: #5d5fef;
}

.leftsvg {
    position: absolute;
    top: 460px;
    left: 20px;
}

.continue {
    position: absolute;
    top: 490px;
    color: grey;
}

.rightsvg {
    position: absolute;
    top: 460px;
    left: 300px;
}

.photos {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 480px;
}

#pic {
    cursor: pointer;
}

#login {
    position: absolute;
    top: 630px;
    color: grey;
}

#joinus {
    position: absolute;
    top: 500px;
    width: 200px;
    height: 60px;
    left: 150px;
    background-color: #5d5fef;
    border-radius: 10px;
    border: 1px solid grey;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#learnmore {
    position: absolute;
    top: 500px;
    width: 200px;
    height: 60px;
    left: 400px;
    color: #5d5fef;
    border-radius: 10px;
    border: 1px solid #5d5fef;
    font-weight: bold;
    cursor: pointer;
}