.body {
  margin: 5%;
}
.top {
  display: flex;
  flex-direction: row;
}
.h2 {
  font-weight: 700;
}
.hr {
  margin-left: 25px;
  width: 150px;
  height: "25px";
  margin-top: 25px;
  border-top: 3px solid #5d5fef;
}
.usermeet {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.name {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  line-height: 1px;
  margin-top: auto;
}
.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.line {
  display: flex;
  flex-direction: row;
}
.container {
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
.countdown-text {
  color: #666;
}
.text.red {
  color: red;
}
.text a {
  font-weight: 600;
  text-decoration: underline;
  margin-left: 140px;
  color: #193185;
}
.selall {
  margin-top: 2%;
  margin-left: 5%;
}
.select {
  background-color: transparent;
  color: #333;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}
/* popup  */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send {
  border: none;
  background: transparent;
  color: blue;
  font-weight: 500;
  font-size: large;
  text-decoration: underline;
}
.content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.button {
  position: absolute;
  top: 10px;
  right: 10px;

  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  outline: none;
}

.button:hover {
  color: #f44336;
}

.button:focus {
  outline: none;
}
