.coverimg {
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-top: 35px;
}

.logoimg {
    position: relative;
    height: 100px;
    width: 100px;
    left: 10%;
    bottom: 50px;
}

.H4 {
    font-weight: bold;
    position: relative;
    left: 100px;
    bottom: 25px;
}

.H6 {
    color: grey;
    font-weight: 600;
    position: relative;
    left: 100px;
    bottom: 25px;
}

.followers{
    position: relative;
    padding: 10px;
    width: 100px;
    left: 80%;
    bottom: 120px;
    border: 1px solid grey;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 2px grey ;
}

.h6 {
    font-weight: bold;
}

.connections{
    position: relative;
}

.connectionimg{
    position: relative;
    left: 8%;
    bottom: 80px;
}


.H5{
    position: relative;
    left: 30%;
    bottom: 120px;
}

.follow {
    background-color: white;
    color:blueviolet;
    border: 1px solid blueviolet;
    width: 150px;
    padding: 10px;
    border-radius: 20px; 
    position: relative;
    left: 8%;
    bottom: 100px;
}

.follow:hover {
    color: white;
    background-color: blueviolet;
}

.allcontainer{
    margin-left: 50px;
    margin-right: 50px;
}

.container {
    
    height: 200px;   
    box-shadow: 0px 0px 15px grey;
    border-radius:  0 0 20px 20px;
}

.arrowsimg {
    position: relative;
    height: 70px;
    width: 90%;
    left:5%;
}

.container2{
    border-radius: 20px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    box-shadow: 0px 0px 15px grey;
}

.container3 {
    border-radius: 20px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
}

.container3 div {
    display: flex;
    box-shadow: 0px 0px 15px grey;
    padding: 40px 20px 20px 20px;
    height: 150px;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    display: grid;
}

.Span {
    color: grey;
}

.container4 {
    position: relative;
    box-shadow: 0px 0px 15px grey;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: 150px;
    border-radius: 20px;
    
}

.container4 h5 {
    font-weight: bold;
}

.viewmap{
    position: absolute;
    left: 90%;
    bottom: 25px;
}

@media (max-width: 1200px){
    .viewmap{
        left: 80%;
    }
}

@media (max-width: 750px){
    .viewmap{
        left: 70%;
    }

    .followers{
        left: 65%;
    }
}

@media (max-width: 950px){
    .H5 {
        left: 50%;
    }
}

@media (max-width: 650px){
    .H5 {
        left: 45%;
    }
}

@media (max-width: 600px){
    .H4{
        left: 10%;
    }
    .H6{
        left: 10%;
    }
    .H5{
        bottom:90px;
        font-size:smaller;
    }
    .connectionimg{
        width: 30px;
        bottom: 70px;
        left: 50px;
    }
    .follow {
        top: -50px;
    }
}

@media (max-width:500px){
    .container4 h6 {
        font-size: smaller;
    }
}

@media (min-width:1000px){
    .body {
        width:75%;
        margin: auto;
    }

    .viewmap{
        left: 82.8%;
    }

    .H5 {
        left: 35%;
    }

}

.penimg{
    position: relative;
    bottom: 150px;
    left: 90%;
    width: 30px;
    cursor: pointer;
}

#loginModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 600px;
  }

  .header{
    display: flex;
}

.close{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    left:550px;
    bottom:20px;
    cursor: pointer;
}

.edit{
    padding: 10px;
}

.small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .save{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    width: 75px;
    height: 50px;
    background-color: #5D5FEF;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    left:550px;
    margin-top: 20px;
}

.drop{
    position: relative;
    bottom: 100px;
}

#about{
    height: 150px;
}