.inputbox1 {
  position: relative;
  width: 100%;
  border: none;
  margin-bottom: 10px;
}
.inputbox2 {
  position: relative;
  width: 49%;
  border: none;
  gap: 1%;
}
.inputbox1 input {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #d3d0d0;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  background: #fafafa;
}

.inputbox2 input {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #d3d0d0;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  background: #fafafa;
}

.inputbox1 span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  margin-left: 10px;
  color: #929292;
  transition: 0.5s;
  border: none;
}

.inputbox2 span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  margin-left: 10px;
  color: #929292;
  transition: 0.5s;
  border: none;
}

.inputbox1 input:valid ~ span,
.inputbox1 input:focus ~ span {
  color: hsl(239, 82%, 65%);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #fafafa;
  letter-spacing: 0.2em;
}

.inputbox1 input:valid,
.inputbox1 input:focus {
  border: 1px solid #5d5fef;
}
.inputbox2 input:valid ~ span,
.inputbox2 input:focus ~ span {
  color: #5d5fef;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #fafafa;
  letter-spacing: 0.2em;
}

.inputbox2 input:valid,
.inputbox2 input:focus {
  border: 1px solid #5d5fef;
}

#pass {
  position: absolute;
  top: 100px;
  width: 90%;
}

#pass2 {
  position: absolute;
  top: 180px;
  width: 90%;
}

