* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  height: 100vh;
  background-color: #f7f7f7;
}

.middle1 {
  flex: 1;
}

.middle2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.err {
  color: red;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 11px;
}
.vertext {
  margin-top: 10%;
  font-weight: bold;
}

.phone {
  margin-top: 15%;
  margin-left: 25%;
}

.H5 span {
  color: #0074d9;
}

.fields {
  display: flex;
  flex-direction: column;
}

.typecode {
  border-radius: 5px;
  border: none;
  height: 35px;
  background-color: #eaeaea;
}

.sub {
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 5px;
  height: 35px;
  background-color: #4c70ff;
  cursor: pointer;
}

.getcode {
  text-align: center;
}

@media (max-width: 900px) {
  .body {
    flex-direction: column;
    background-color: white;
  }
  .middle2 {
    padding: 15% 0;
  }
}
