.top-section {
    display: flex;
    font-weight: 600;
}
.top-section h2 {
    flex:1;
    font-weight:700;
}
.top-section a {
    color: #4E2DAB;
    font-size: 22px;
}
.title-box {
    text-align: center;
    font-size: larger;
    font-weight: 600;
}
.butt-box {
    display: flex;
    width: 100%;
    margin: 5% 0%;
    flex-direction: row;
    align-items: center;
    gap:10%;
    justify-content: center;
}
.butt-box button {
    width: fit-content;
    border: none;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 4%;
}

.butt-box h4 {
    font-weight: 200;
}

.icon-mark {
    z-index: 100;
    color: #193185;
    font-size: 25px;
    position: absolute;
    right: 0%;
    top: 0%;
}
.line {
    width: 55%;
    height: 5%;
    position: relative;
    height: 3px;
    background-color: black;
    border: none;
}
.icon-arrow {
    font-size: 25px;
} 

.hour {
    font-size: small;
}
.company-box {
    width: 100%;
    margin: 0% 5%;
    display: flex;
    flex-direction: row;
    gap:5%;
    align-items: center;
}
.mic {
    font-size: 40px;
}
.micro {
    font-weight: 600;
    margin-bottom: 0%;
}
/* الاسهم */
.arrow {
    display: flex;
    margin-left: 80%;
}
.arrow button {
    margin-right: 5%;
    background-color: transparent;
    border: none;
    width: fit-content;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 15%;
}
.ar {
    font-size: 50px;
    border-radius: 50%;
    background-color: #5D5FEF;
    border: 0px solid #5D5FEF;
    color: #F6F6F6;
}
.ar:hover {
    font-size: 55px;
    background-color: #F6F6F6;
    border: 0px solid #F6F6F6;
    color: #5D5FEF;
}
@media (max-width: 910px) {
    .arrow {
        display: none;
    }
    .top-section {
        display: flex;
    }
    .top-section a {
        padding-left : 10%;
    }
    .car {
        width: 100%;
    }
}