.photos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Img {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.9s;
  text-decoration: none;
}

#pic {
  cursor: pointer;
}
