* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.body {
  background-color: #f7f7fc;
  height: 100vh;
  font-family: Poppins;
}

.logoimg {
  padding-top: 50px;
  padding-left: 50px;
}

.welcome {
  margin-left: 150px;
  margin-top: 200px;
  font-weight: bold;
  font-size: 50px;
}
.para {
  margin-left: 150px;
  font-size: 25px;
  font-weight: bold;
}

.jobber {
  color: #5d5fef;
}

.form {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid grey;
  width: 35%;
  height: 550px;
  margin-left: 800px;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 20px;
}

.form .inputbox {
  position: relative;
  width: 98%;
}

.inputbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #929292;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  background: #fafafa;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #5d5fef;
  transition: 0.5s;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #5d5fef;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #fafafa;
  border-left: 1px solid #5d5fef;
  border-right: 1px solid #5d5fef;
  letter-spacing: 0.2em;
}

.inputbox input:valid,
.inputbox input:focus {
  border: 1px solid #5d5fef;
}

#pass {
  position: absolute;
  top: 100px;
  width: 90%;
}

.rememberme {
  position: absolute;
  top: 170px;
  right: 300px;
}

.rememberme input,
.rememberme label {
  cursor: pointer;
  color: #5d5fef;
}

.rememberme input {
  accent-color: #5d5fef;
}

#forgot {
  position: absolute;
  top: 170px;
  left: 300px;
}

#signInButton {
  position: absolute;
  top: 230px;
  width: 85%;
  height: 60px;
  background-color: #5d5fef;
  border-radius: 10px;
  border: 1px solid grey;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.leftsvg {
  position: absolute;
  top: 280px;
  left: 20px;
  width: 33%;
}

.continue {
  position: absolute;
  top: 310px;
  color: grey;
}

.rightsvg {
  position: absolute;
  top: 280px;
  left: 290px;
  width: 33%;
}

.photos {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 300px;
}

#pic {
  cursor: pointer;
}

#signup {
  position: absolute;
  top: 460px;
  color: grey;
}

#signup a {
  text-decoration: none;
}

#joinus {
  position: absolute;
  top: 500px;
  width: 200px;
  height: 60px;
  left: 150px;
  background-color: #5d5fef;
  border-radius: 10px;
  border: 1px solid grey;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#learnmore {
  position: absolute;
  top: 500px;
  width: 200px;
  height: 60px;
  left: 400px;
  color: #5d5fef;
  border-radius: 10px;
  border: 1px solid #5d5fef;
  font-weight: bold;
  cursor: pointer;
}

#loginModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 10px 0px 20px 0px;
  border-radius: 30px;
  width: 450px;
  text-align: center;
}

.topForm {
  display: flex;
  justify-content: flex-end;
}

.topForm .closeModal {
  cursor: pointer;
  padding: 0 20px;
  font-size: 20px;
}

.loginForm h2 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.loginForm form input {
  width: 75%;
  margin-bottom: 20px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #d0d5d8;
  border-radius: 15px;
}

.loginForm button {
  padding: 12px 0;
  width: 50%;
  background: #5d5fef;
  border: 0;
  border-radius: 20px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form .numbers input {
  width: 50px;
  margin: 10px;
  text-align: center;
  position: relative;
  bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .body {
    height: 1200px;
    width: 100%;
  }

  .welcome {
    margin-left: 50px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 50px;
  }

  .jobber {
    margin-left: 60px;
  }

  .para {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  #joinus {
    position: absolute;
    top: 500px;
    width: 150px;
    height: 60px;
    left: 20px;
    background-color: #5d5fef;
    border-radius: 10px;
    border: 1px solid grey;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  #learnmore {
    position: absolute;
    top: 500px;
    width: 150px;
    height: 60px;
    left: 200px;
    color: #5d5fef;
    border-radius: 10px;
    border: 1px solid #5d5fef;
    font-weight: bold;
    cursor: pointer;
  }

  .form {
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid grey;
    width: 90%;
    height: 550px;
    margin-left: 20px;
    position: absolute;
    top: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding: 20px;
  }

  .rememberme {
    position: absolute;
    top: 170px;
    right: 180px;
  }

  #forgot {
    position: absolute;
    top: 170px;
    left: 180px;
  }

  #pic {
    width: 35%;
  }

  .photos {
    right: 20px;
    margin-top: 40px;
  }

  #email {
    width: 100%;
  }

  .leftsvg {
    width: 28%;
  }

  .rightsvg {
    left: 230px;
    width: 28%;
  }

  .modal {
    background: white;
    padding: 10px 0px 20px 0px;
    border-radius: 30px;
    width: 350px;
    height: 350px;
    text-align: center;
  }

  .loginForm h2 {
    padding: 10px;
  }

  @media only screen and (min-width: 391px) {
    #joinus {
      left: 40px;
    }

    #learnmore {
      left: 210px;
    }

    .rememberme {
      right: 195px;
    }

    #forgot {
      position: absolute;
      top: 170px;
      left: 190px;
    }
  }

  @media only screen and (min-width: 410px) {
    .welcome {
      margin-left: 70px;
    }

    #joinus {
      left: 60px;
    }

    #learnmore {
      left: 230px;
    }

    .rememberme {
      right: 200px;
    }

    #forgot {
      position: absolute;
      top: 170px;
      left: 200px;
    }

    .leftsvg {
      width: 28%;
    }

    .rightsvg {
      left: 250px;
    }

    @media only screen and (min-width: 435px) {
      .welcome {
        margin-left: 70px;
      }

      #joinus {
        left: 60px;
      }

      #learnmore {
        left: 230px;
      }

      .rememberme {
        right: 220px;
      }

      #forgot {
        position: absolute;
        top: 170px;
        left: 200px;
      }

      .leftsvg {
        width: 32%;
      }

      .rightsvg {
        left: 240px;
        width: 32%;
      }

      @media only screen and (min-width: 450px) {
        .welcome {
          margin-left: 90px;
        }

        #joinus {
          left: 60px;
        }

        #learnmore {
          left: 230px;
        }

        .rememberme {
          right: 240px;
        }

        #forgot {
          position: absolute;
          top: 170px;
          left: 240px;
        }

        .leftsvg {
          width: 30%;
        }

        .rightsvg {
          left: 250px;
          width: 30%;
        }

        @media only screen and (min-width: 460px) {
          .welcome {
            margin-left: 90px;
          }

          #joinus {
            left: 80px;
          }

          #learnmore {
            left: 250px;
          }

          .rememberme {
            right: 240px;
          }

          #forgot {
            position: absolute;
            top: 170px;
            left: 250px;
          }

          .leftsvg {
            width: 30%;
          }

          .rightsvg {
            left: 260px;
            width: 30%;
          }

          @media only screen and (min-width: 480px) {
            .welcome {
              margin-left: 90px;
            }

            #joinus {
              left: 80px;
            }

            #learnmore {
              left: 270px;
            }

            .rememberme {
              right: 270px;
            }

            #forgot {
              position: absolute;
              top: 170px;
              left: 270px;
            }

            .leftsvg {
              width: 30%;
            }

            .rightsvg {
              left: 280px;
              width: 30%;
            }
          }

          @media only screen and (min-width: 500px) {
            .welcome {
              margin-left: 90px;
            }

            #joinus {
              left: 80px;
            }

            #learnmore {
              left: 250px;
            }

            .rememberme {
              right: 290px;
            }

            #forgot {
              position: absolute;
              top: 170px;
              left: 270px;
            }

            .leftsvg {
              width: 30%;
            }

            .rightsvg {
              left: 280px;
              width: 30%;
            }

            #pass {
              width: 91%;
            }

            @media only screen and (min-width: 520px) {
              .welcome {
                margin-left: 90px;
              }

              #joinus {
                left: 80px;
              }

              #learnmore {
                left: 250px;
              }

              .rememberme {
                right: 300px;
              }

              #forgot {
                position: absolute;
                top: 170px;
                left: 270px;
              }

              .leftsvg {
                width: 30%;
              }

              .rightsvg {
                left: 280px;
                width: 30%;
              }

              @media only screen and (min-width: 540px) {
                .welcome {
                  margin-left: 90px;
                }

                #joinus {
                  left: 80px;
                }

                #learnmore {
                  left: 250px;
                }

                .rememberme {
                  right: 320px;
                }

                #forgot {
                  position: absolute;
                  top: 170px;
                  left: 270px;
                }

                .leftsvg {
                  width: 30%;
                }

                .rightsvg {
                  left: 300px;
                  width: 30%;
                }

                @media only screen and (min-width: 560px) {
                  .welcome {
                    margin-left: 120px;
                  }

                  .para {
                    padding: 10px;
                  }

                  #joinus {
                    left: 110px;
                  }

                  #learnmore {
                    left: 280px;
                  }

                  .rememberme {
                    right: 330px;
                  }

                  #forgot {
                    position: absolute;
                    top: 170px;
                    left: 320px;
                  }

                  .leftsvg {
                    width: 30%;
                  }

                  .rightsvg {
                    left: 320px;
                    width: 30%;
                  }

                  @media only screen and (min-width: 580px) {
                    .welcome {
                      margin-left: 130px;
                    }

                    .para {
                      padding: 10px;
                    }

                    #joinus {
                      left: 110px;
                    }

                    #learnmore {
                      left: 280px;
                    }

                    .rememberme {
                      right: 330px;
                    }

                    #forgot {
                      position: absolute;
                      top: 170px;
                      left: 320px;
                    }

                    .leftsvg {
                      width: 30%;
                    }

                    .rightsvg {
                      left: 330px;
                      width: 30%;
                    }

                    #pass {
                      width: 92%;
                    }

                    @media only screen and (min-width: 600px) {
                      .welcome {
                        margin-left: 130px;
                      }

                      .para {
                        padding: 10px;
                      }

                      #joinus {
                        left: 130px;
                      }

                      #learnmore {
                        left: 300px;
                      }

                      .rememberme {
                        right: 360px;
                      }

                      #forgot {
                        position: absolute;
                        top: 170px;
                        left: 350px;
                      }

                      .rightsvg {
                        left: 340px;
                        width: 30%;
                      }

                      @media only screen and (min-width: 620px) {
                        .welcome {
                          margin-left: 150px;
                        }

                        .para {
                          padding: 10px;
                        }

                        #joinus {
                          left: 130px;
                        }

                        #learnmore {
                          left: 300px;
                        }

                        .rememberme {
                          right: 360px;
                        }

                        #forgot {
                          position: absolute;
                          top: 170px;
                          left: 350px;
                        }

                        .leftsvg {
                          width: 30%;
                        }

                        .rightsvg {
                          left: 350px;
                          width: 30%;
                        }

                        @media only screen and (min-width: 640px) {
                          .welcome {
                            margin-left: 180px;
                          }

                          .para {
                            padding: 10px;
                          }

                          #joinus {
                            left: 130px;
                          }

                          #learnmore {
                            left: 300px;
                          }

                          .rememberme {
                            right: 400px;
                          }

                          #forgot {
                            position: absolute;
                            top: 170px;
                            left: 390px;
                          }

                          .leftsvg {
                            width: 30%;
                          }

                          .rightsvg {
                            left: 360px;
                            width: 30%;
                          }

                          @media only screen and (min-width: 660px) {
                            .welcome {
                              margin-left: 160px;
                            }

                            .para {
                              padding: 10px;
                            }

                            #joinus {
                              left: 130px;
                            }

                            #learnmore {
                              left: 300px;
                            }

                            .rememberme {
                              right: 400px;
                            }

                            #forgot {
                              position: absolute;
                              top: 170px;
                              left: 390px;
                            }

                            .leftsvg {
                              width: 30%;
                            }

                            .rightsvg {
                              left: 370px;
                              width: 30%;
                            }

                            .photos {
                              margin-right: 40px;
                            }

                            @media only screen and (min-width: 680px) {
                              .welcome {
                                margin-left: 130px;
                                padding: 30px;
                              }

                              .para {
                                padding: 10px;
                              }

                              #joinus {
                                left: 130px;
                              }

                              #learnmore {
                                left: 300px;
                              }

                              .rememberme {
                                right: 400px;
                              }

                              #forgot {
                                position: absolute;
                                top: 170px;
                                left: 390px;
                              }

                              .leftsvg {
                                width: 30%;
                              }

                              .rightsvg {
                                left: 390px;
                                width: 30%;
                              }

                              #pass {
                                width: 94%;
                              }

                              @media only screen and (min-width: 700px) {
                                .welcome {
                                  margin-left: 130px;
                                  padding: 30px;
                                }

                                .para {
                                  padding: 10px;
                                }

                                #joinus {
                                  left: 130px;
                                }

                                #learnmore {
                                  left: 300px;
                                }

                                .rememberme {
                                  right: 400px;
                                }

                                #forgot {
                                  position: absolute;
                                  top: 170px;
                                  left: 390px;
                                }

                                .leftsvg {
                                  width: 30%;
                                }

                                .rightsvg {
                                  left: 400px;
                                  width: 30%;
                                }

                                @media only screen and (min-width: 720px) {
                                  .welcome {
                                    margin-left: 190px;
                                    padding: 30px;
                                  }

                                  .para {
                                    padding: 10px;
                                  }

                                  #joinus {
                                    left: 190px;
                                  }

                                  #learnmore {
                                    left: 360px;
                                  }

                                  .rememberme {
                                    right: 480px;
                                  }

                                  #forgot {
                                    position: absolute;
                                    top: 170px;
                                    left: 470px;
                                  }

                                  .leftsvg {
                                    width: 30%;
                                  }

                                  .rightsvg {
                                    left: 410px;
                                    width: 30%;
                                  }

                                  .photos {
                                    margin-right: 60px;
                                  }

                                  @media only screen and (min-width: 740px) {
                                    .welcome {
                                      margin-left: 190px;
                                      padding: 30px;
                                    }

                                    .para {
                                      padding: 10px;
                                    }

                                    #joinus {
                                      left: 190px;
                                    }

                                    #learnmore {
                                      left: 360px;
                                    }

                                    .rememberme {
                                      right: 500px;
                                    }

                                    #forgot {
                                      position: absolute;
                                      top: 170px;
                                      left: 500px;
                                    }

                                    .leftsvg {
                                      width: 30%;
                                    }

                                    .rightsvg {
                                      left: 420px;
                                      width: 30%;
                                    }

                                    @media only screen and (min-width: 760px) {
                                      .welcome {
                                        margin-left: 190px;
                                        padding: 30px;
                                      }

                                      .para {
                                        padding: 10px;
                                      }

                                      #joinus {
                                        left: 190px;
                                      }

                                      #learnmore {
                                        left: 360px;
                                      }

                                      .rememberme {
                                        right: 500px;
                                      }

                                      #forgot {
                                        position: absolute;
                                        top: 170px;
                                        left: 500px;
                                      }

                                      .leftsvg {
                                        width: 30%;
                                      }

                                      .rightsvg {
                                        left: 430px;
                                        width: 30%;
                                      }

                                      @media only screen and (min-width: 780px) {
                                        .welcome {
                                          margin-left: 190px;
                                          padding: 30px;
                                        }

                                        .para {
                                          padding: 10px;
                                        }

                                        #joinus {
                                          left: 190px;
                                        }

                                        #learnmore {
                                          left: 360px;
                                        }

                                        .rememberme {
                                          right: 500px;
                                        }

                                        #forgot {
                                          position: absolute;
                                          top: 170px;
                                          left: 500px;
                                        }

                                        .leftsvg {
                                          width: 30%;
                                        }

                                        .rightsvg {
                                          left: 440px;
                                          width: 30%;
                                        }

                                        @media only screen and (min-width: 800px) {
                                          .welcome {
                                            margin-left: 190px;
                                            padding: 40px;
                                          }

                                          .para {
                                            position: absolute;
                                            padding: 10px;
                                            bottom: 170px;
                                            left: 100px;
                                          }

                                          #joinus {
                                            left: 190px;
                                          }

                                          #learnmore {
                                            left: 360px;
                                          }

                                          .rememberme {
                                            right: 550px;
                                          }

                                          #forgot {
                                            position: absolute;
                                            top: 170px;
                                            left: 550px;
                                          }

                                          .leftsvg {
                                            width: 30%;
                                          }

                                          .rightsvg {
                                            left: 450px;
                                            width: 30%;
                                          }

                                          @media only screen and (min-width: 820px) {
                                            .welcome {
                                              margin-left: 190px;
                                              bottom: 300px;
                                              padding: 40px;
                                            }

                                            .para {
                                              padding: 10px;
                                            }

                                            #joinus {
                                              left: 190px;
                                            }

                                            #learnmore {
                                              left: 360px;
                                            }

                                            .rememberme {
                                              right: 550px;
                                            }

                                            #forgot {
                                              position: absolute;
                                              top: 170px;
                                              left: 550px;
                                            }

                                            .leftsvg {
                                              width: 30%;
                                            }

                                            .rightsvg {
                                              left: 450px;
                                              width: 30%;
                                            }

                                            @media only screen and (min-width: 840px) {
                                              .welcome {
                                                margin-left: 190px;
                                                bottom: 300px;
                                                padding: 60px;
                                              }

                                              .para {
                                                padding: 10px;
                                              }

                                              #joinus {
                                                left: 250px;
                                              }

                                              #learnmore {
                                                left: 420px;
                                              }

                                              .rememberme {
                                                right: 550px;
                                              }

                                              #forgot {
                                                position: absolute;
                                                top: 170px;
                                                left: 550px;
                                              }

                                              .leftsvg {
                                                width: 30%;
                                              }

                                              .rightsvg {
                                                left: 480px;
                                                width: 30%;
                                              }

                                              .photos {
                                                margin-right: 120px;
                                              }

                                              @media only screen and (min-width: 860px) {
                                                .welcome {
                                                  margin-left: 190px;
                                                  bottom: 300px;
                                                  padding: 70px;
                                                }

                                                .para {
                                                  padding: 10px;
                                                }

                                                #joinus {
                                                  left: 200px;
                                                }

                                                #learnmore {
                                                  left: 450px;
                                                }

                                                .rememberme {
                                                  right: 550px;
                                                }

                                                #forgot {
                                                  position: absolute;
                                                  top: 170px;
                                                  left: 550px;
                                                }

                                                .leftsvg {
                                                  width: 30%;
                                                }

                                                .rightsvg {
                                                  left: 500px;
                                                  width: 30%;
                                                }

                                                .photos {
                                                  right: 70px;
                                                }

                                                @media only screen and (min-width: 880px) {
                                                  .welcome {
                                                    margin-bottom: 200px;
                                                    margin-left: 220px;
                                                    bottom: 300px;
                                                    padding: 70px;
                                                  }

                                                  .para {
                                                    padding: 10px;
                                                    bottom: 150px;
                                                    left: 150px;
                                                  }

                                                  #joinus {
                                                    left: 250px;
                                                  }

                                                  #learnmore {
                                                    left: 430px;
                                                  }

                                                  .rememberme {
                                                    right: 600px;
                                                  }

                                                  #forgot {
                                                    position: absolute;
                                                    top: 170px;
                                                    left: 600px;
                                                  }

                                                  .leftsvg {
                                                    width: 30%;
                                                  }

                                                  .rightsvg {
                                                    left: 540px;
                                                    width: 30%;
                                                  }

                                                  @media only screen and (min-width: 900px) {
                                                    .welcome {
                                                      margin-bottom: 200px;
                                                      margin-left: 220px;
                                                      bottom: 300px;
                                                      padding: 70px;
                                                    }

                                                    .para {
                                                      padding: 10px;
                                                      bottom: 150px;
                                                      left: 150px;
                                                    }

                                                    #joinus {
                                                      left: 250px;
                                                    }

                                                    #learnmore {
                                                      left: 430px;
                                                    }

                                                    .rememberme {
                                                      right: 600px;
                                                    }

                                                    #forgot {
                                                      position: absolute;
                                                      top: 170px;
                                                      left: 600px;
                                                    }

                                                    .leftsvg {
                                                      width: 30%;
                                                    }

                                                    .rightsvg {
                                                      left: 540px;
                                                      width: 30%;
                                                    }

                                                    @media only screen and (min-width: 920px) {
                                                      .welcome {
                                                        margin-bottom: 200px;
                                                        margin-left: 220px;
                                                        bottom: 300px;
                                                        padding: 80px;
                                                      }

                                                      .para {
                                                        padding: 10px;
                                                        bottom: 150px;
                                                        left: 150px;
                                                      }

                                                      #joinus {
                                                        left: 250px;
                                                      }

                                                      #learnmore {
                                                        left: 430px;
                                                      }

                                                      .rememberme {
                                                        right: 600px;
                                                      }

                                                      #forgot {
                                                        position: absolute;
                                                        top: 170px;
                                                        left: 600px;
                                                      }

                                                      .leftsvg {
                                                        width: 30%;
                                                      }

                                                      .rightsvg {
                                                        left: 540px;
                                                        width: 30%;
                                                      }

                                                      @media only screen and (min-width: 940px) {
                                                        .welcome {
                                                          margin-bottom: 200px;
                                                          margin-left: 100px;
                                                          bottom: 300px;
                                                          padding: 70px;
                                                        }

                                                        .para {
                                                          padding: 10px;
                                                          bottom: 150px;
                                                          left: 150px;
                                                        }

                                                        #joinus {
                                                          left: 250px;
                                                        }

                                                        #learnmore {
                                                          left: 430px;
                                                        }

                                                        .rememberme {
                                                          right: 650px;
                                                        }

                                                        #forgot {
                                                          position: absolute;
                                                          top: 170px;
                                                          left: 650px;
                                                        }

                                                        .leftsvg {
                                                          width: 30%;
                                                        }

                                                        .rightsvg {
                                                          left: 580px;
                                                          width: 30%;
                                                        }

                                                        @media only screen and (min-width: 960px) {
                                                          .welcome {
                                                            margin-bottom: 200px;
                                                            margin-left: 100px;
                                                            bottom: 300px;
                                                            padding: 70px;
                                                          }

                                                          .para {
                                                            padding: 10px;
                                                            bottom: 150px;
                                                            left: 150px;
                                                          }

                                                          #joinus {
                                                            left: 250px;
                                                          }

                                                          #learnmore {
                                                            left: 430px;
                                                          }

                                                          .rememberme {
                                                            right: 680px;
                                                          }

                                                          #forgot {
                                                            position: absolute;
                                                            top: 170px;
                                                            left: 680px;
                                                          }

                                                          .leftsvg {
                                                            width: 30%;
                                                          }

                                                          .rightsvg {
                                                            left: 600px;
                                                            width: 30%;
                                                          }

                                                          @media only screen and (min-width: 980px) {
                                                            .welcome {
                                                              margin-bottom: 200px;
                                                              margin-left: 100px;
                                                              bottom: 300px;
                                                              padding: 70px;
                                                            }

                                                            .para {
                                                              padding: 10px;
                                                              bottom: 150px;
                                                              left: 150px;
                                                            }

                                                            #joinus {
                                                              left: 250px;
                                                            }

                                                            #learnmore {
                                                              left: 430px;
                                                            }

                                                            .rememberme {
                                                              right: 700px;
                                                            }

                                                            #forgot {
                                                              position: absolute;
                                                              top: 170px;
                                                              left: 700px;
                                                            }

                                                            .leftsvg {
                                                              width: 30%;
                                                            }

                                                            .rightsvg {
                                                              left: 600px;
                                                              width: 30%;
                                                            }

                                                            .photos {
                                                              margin-right: 120px;
                                                            }

                                                            @media only screen and (min-width: 1000px) {
                                                              .welcome {
                                                                margin-bottom: 200px;
                                                                margin-left: 150px;
                                                                bottom: 300px;
                                                                padding: 70px;
                                                              }

                                                              .para {
                                                                padding: 10px;
                                                                bottom: 150px;
                                                                left: 200px;
                                                              }

                                                              #joinus {
                                                                left: 300px;
                                                              }

                                                              #learnmore {
                                                                left: 480px;
                                                              }

                                                              .rememberme {
                                                                right: 720px;
                                                              }

                                                              #forgot {
                                                                position: absolute;
                                                                top: 170px;
                                                                left: 700px;
                                                              }

                                                              .leftsvg {
                                                                width: 30%;
                                                              }

                                                              .rightsvg {
                                                                left: 670px;
                                                                width: 30%;
                                                              }

                                                              .photos {
                                                                margin-right: 120px;
                                                              }

                                                              #pass {
                                                                width: 95%;
                                                              }

                                                              @media only screen and (min-width: 1100px) {
                                                                .welcome {
                                                                  margin-bottom: 200px;
                                                                  margin-left: 200px;
                                                                  bottom: 300px;
                                                                  padding: 70px;
                                                                }

                                                                .para {
                                                                  padding: 10px;
                                                                  bottom: 150px;
                                                                  left: 250px;
                                                                }

                                                                #joinus {
                                                                  left: 350px;
                                                                }

                                                                #learnmore {
                                                                  left: 530px;
                                                                }

                                                                .rememberme {
                                                                  right: 800px;
                                                                }

                                                                #forgot {
                                                                  position: absolute;
                                                                  top: 170px;
                                                                  left: 800px;
                                                                }

                                                                .leftsvg {
                                                                  width: 30%;
                                                                }

                                                                .rightsvg {
                                                                  left: 700px;
                                                                  width: 30%;
                                                                }

                                                                .photos {
                                                                  margin-right: 150px;
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
