.body{
    height: 1600px;
}

.applyline {    
    position: relative;
    top:5%;
    left: 2%;
}

.H2{
    position: relative;
    left: 2%;
    top:20%;
    font-weight: bold;
}

.line{
    position: absolute;
    top: 25px;
    left: 225px;
    width: 150px;
}

.logo{
    position: absolute;
    top: 50%;
    left: 5%;
}

.H4 {
    position: absolute;
    top: 55%;
    left: 200px;
}

.h4{
    position: absolute;
    top:55%;
    left: 80%;
}

.applicants{
    position: relative;
    padding: 50px;
    width: 180px;
    left: 45%;
    top: 300px;
    border: 1px solid grey;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 2px grey;
    font-weight: bold;
}

.delete{
    position: absolute;
    left: 80%;
    cursor: pointer;
}

.egypt2{
    position: absolute;
    top: 50%;
    left: 88%;
}


.pcontainer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,15%);
    justify-content: center;
    top: 400px;
}

 .plang {
    display: flex;
    border: 1px solid blueviolet;
    box-shadow: 0 5px blueviolet;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 30px;
    color: blueviolet;
    padding: 20px;
    margin: 10px;
    position: relative;
    width: auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.plang:hover {
    color: white;
    background-color: blueviolet;
    box-shadow: 0 5px #8b8b8b;
    cursor: pointer;
}

.para {
    position: relative;
    top:450px;
    width: 50%;
    height: fit-content;
    left: 25%;
    background-color: #F9F9F9;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.para p {
    font-weight:600;
    font-size:x-large;
}

.submit {
    position: absolute;
    padding: 20px;
    width: 33%;
    left: 33%;
    top:1450px;
    background-color: #5D5FEF;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}

@media (max-width:950px){
    .plang{
        font-size: .9em;
    }
}

@media (max-width:700px){
    .plang{
        font-size: .7em;
    }
}

@media (max-width:550px){
    .plang{
        font-size: .5em;
    }
}

@media (max-width:1050px){
    .para p{
        font-size: 1.3em;
    }
}

@media (max-width:800px){
    .para p{
        font-size: 1.1em;
    }
    
    .submit {
        top: 1150px;
    }

    .body{
        height: 1300px;
    }
}

@media (max-width:800px){
    .para {
        width: 70%;
        left:15%;
    }
}

@media (max-width:480px){
    .para {
        width: 80%;
        left:10%;
    }
}

@media (max-width:900px){
    .line {
        left:25%;
    }
}

@media (max-width:650px){
    .line {
        left:30%;
    }
}

@media (max-width:500px){
    .line {
        left:40%;
    }
}

@media (max-width:632px){
    .submit{
        top:1200px;
    }  
}

@media (max-width:430px){
    .submit{
        top:1250px;
    }  
}

/* pop up */

#loginModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: white;
    padding: 10px 0px 20px 0px;
    border-radius: 30px;
    width: 450px;
    text-align: center;
  }
  .modal2 {
    background: white;
    padding: 10px 0px 20px 0px;
    border-radius: 30px;
    width: 550px;
    height: 300px;
    text-align: center;
  }
  
  .topForm {
    display: flex;
    justify-content: flex-end;
  }
  
  .topForm .closeModal {
    cursor: pointer;
    padding: 0 20px;
    font-size: 20px;
  }
  
  .loginForm h2 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .loginForm form input {
    width: 75%;
    margin-bottom: 20px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 1px solid #d0d5d8;
    border-radius: 15px;
  }
  
  .loginForm button {
    padding: 12px 0;
    width: 50%;
    background: #5d5fef;
    border: 0;
    border-radius: 20px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }

  .H6{
    color: grey;
  }

  .congrats{
    width: 400px;
  }

  .submitBtn{
    padding: 12px 0;
    width: 50%;
    background: #5d5fef;
    border: 0;
    border-radius: 20px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }

  .message{
    position: relative;
    top:50px;
  }

  .buttons{
    position: relative;
    top: 100px;
  }

  .deleter , .cancel {
    padding: 10px;
    cursor: pointer;
  }

  .boxes{
    position: relative;
    top: 400px;
    left: 100px;
  }

  .greybox {
    background-color: grey;
    height: 300px;
    width: 250px;
    display: inline-block;
    margin: 20px;
  }

  .delete2 , .meet {
    position: relative;
    width: 200px;
    padding: 20px;
    left: 25px;
    top: 60px;
    cursor: pointer;
  }

  .modal3{
    background: white;
    padding: 10px 0px 20px 0px;
    border-radius: 30px;
    width: 550px;
    height: 300px;
    text-align: center;
  }

  .meetlbl{
    position: relative;
    left: 50px;
    font-weight: bold;
    font-size: xx-large;
  }

  .calendar{
    position: relative;
    top: 70px;
    right: 160px;
  }

  .close {
    position: relative;
    left: 250px;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
  }

  .time{
    position: relative;
    top: 120px;
    right: 0px;
    padding: 20px;
    width: 25%;
    background-color: #5D5FEF;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
  }
