.box-socail {
    display: flex;
    margin-top: 10%;
    width: 92%;
    height: 30%;
    margin-left: 7%;
    box-sizing: border-box;
}
.box1 {
    padding-top: 36px;
    margin: 1%;
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 4px #80808094;
    text-align: center;
    border-radius: 20px;
}
img {
    margin-bottom: 2%;
    width: 105px;
    height: 65px;
}
.box1 i {
    margin-bottom: 10%;
    font-size: 70px;
    color: #3a89f4;
}
.icon {
    font-size: 55px;
}
.top-steps {
    display: flex;
    margin-left: 15%;
    margin-bottom: 17%;

}
.top-steps h1 {
    margin-top: 4%;
    margin-left: 13%;
    color: #b4b4b6 ;
}
.box2 {
    padding-top: 36px;
    margin: 1%;
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 4px #80808094;
    text-align: center;
    border-radius: 20px;
}
.box2:hover{
    background-color: #5D5FEF;
    color: white;
}
.box2:hover p {
    color: white;
}
.box2:hover h1 {
    color: white;
}
.box2 p {
    color: #b4b4b6;
    margin-right: 20%;
    margin-bottom: 11% ;

    font-weight: bold;
}