* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .body {
    display: flex;
    height: 100vh;
    background-color: #f7f7f7;
  }

  .middle1{
    flex: 1;
  }

  .middle2 {
    margin-top: 7%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    }

  .vertext{
    margin-top: 50%;
    font-weight: bold;
  }

  .phone {
    margin-top: 15%;
    margin-left: 25%;
  }

  .H5 span {
    color: #5D5FEF;
  }

  .fields {
    display: flex;
    flex-direction: column;
  }

  .typecode {
    border-radius: 5px;
    border: none;
    height: 35px;
    background-color: #EAEAEA;
  }

  .sub {
    font-weight: bold;
    border: none;
    color:white;
    border-radius: 5px;
    height: 35px;
    background-color: #4C70FF;
    cursor: pointer;
  }

 .getcode{
    text-align: center;
  }